[run]
source =
    apps
    core
omit =
    */migrations/*
    */config/*
    */settings/*
    */admin.py
    */apps.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
